{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <main class="container">
        <div class="row">
            <div class="col">
                {% if latest_question_list %}
                    <ul>
                        {% for question in latest_question_list %}
                            <li><a href="{% url 'polls:detail' question.slug %}">{{ question.question_text }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No polls are available.</p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}